.about-head {
  display: flex;
  background-image: url("../images/forest-topdown.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 30rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Better-Grade";
  font-size: 6rem;
}
