.body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url("../images/autumnwood1.jpg");
  background-position: center;
  background-attachment: fixed;
}

#order-btn {
  color: white;
  border: 1px solid white;
  font-family: "Quicksand-regular";
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.344);
  user-select: none;
}

.body > img {
  object-fit: contain;
  max-width: 36rem;
}

/* Desktop */
@media screen and (min-width: 750px) {
  .body {
    min-height: 50rem;
  }
}

/* Mobile */
@media screen and (max-width: 750px) {
  .body {
    min-height: 42rem;
  }
}
