.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("../images/autumnwood1.jpg");
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
}

#order-btn {
  color: white;
  border: 1px solid white;
  font-family: "Quicksand-regular";
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.344);
  user-select: none;
}

.body > img {
  object-fit: contain;
  max-width: 36rem;
  user-select: none;
}

/* Desktop */
/* @media screen and (min-width: 750px) {
  .body {
    min-height: 80vh;
  }
}

/* Mobile */
/* @media screen and (max-width: 750px) {
  .body {
    min-height: 80vh;
  }
} */
