.flavors > p {
  font-family: "Quicksand-regular";
  color: white;
  font-size: 1.5rem;
  margin-top: -1rem;
  background-color: rgb(217, 180, 67);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flavors {
  min-height: 5rem;
}
