#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 61, 61);
}

.nav-text {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  font-family: "Quicksand-Regular";
  user-select: none;
}

#nav > img {
  user-select: none;
}

/* desktop */
@media screen and (min-width: 750px) {
  #nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 4rem;
    justify-content: center;
  }

  #nav > img {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 5rem;
    max-height: 5rem;
  }
}

/* mobile */
@media screen and (max-width: 750px) {
  #nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 3rem;
    justify-content: space-evenly;
  }

  #nav > img {
    max-height: 5rem;
  }
}
