#nav-container {
  display: fixed;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

.nav-text {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-family: "Quicksand-Regular";
  user-select: none;
  padding-left: 2%;
  padding-right: 2%;
}

#nav > img {
  user-select: none;
  text-align: center;
}

#logo1 {
  object-fit: contain;
}

/* desktop */
@media screen and (min-width: 750px) {
  #nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 4rem;
  }

  #logo1 {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 6rem;
    max-height: 6rem;
  }
}

/* mobile */
@media screen and (max-width: 750px) {
  #nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 3rem;
    text-align: center;
  }

  .nav-text {
    font-size: 1.8rem;
  }

  #logo1 {
    margin-left: 5%;
    margin-right: 5%;
    max-height: 6rem;
  }
}
