.title-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("../images/autumnwood1.jpg");
  background-position: center;
  background-attachment: fixed;
}

#order-btn {
  color: white;
  border: 1px solid white;
  font-family: "Quicksand-regular";
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.344);
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.title-head > img {
  object-fit: contain;
  user-select: none;
  max-width: 100%;
}

/* Desktop */
@media screen and (min-width: 751px) {
  .title-head {
    min-height: 48rem;
  }
}

/* Mobile */
@media screen and (max-width: 750px) {
  .title-head {
    min-height: 45rem;
  }
}
